@import "./typography.scss";
@import "./include-media.scss";

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 999999;
}

.nav_container {
  display: flex;
  height: 100%;
  padding: 30px 60px;
  @include media("<=tablet") {
    padding: 10px 20px;
  }
  margin: 0;
  box-sizing: border-box;
  height: 100px;
  background-color: black;
  justify-content: space-between;
  align-items: center;
  //max-width: 100%;
}

.navbar_list {
  list-style: none;
  display: flex;
  //margin-left: auto;
}

.my_name {
  color: white;
  font-size: 30px;
  font-weight: bold;
  display: block;
  margin-top: 7px;
  @include media("<=tablet") {
    font-size: 24px;
  }
}

@mixin fira {
  font-family: "Fira Code Medium";
  font-size: 20px;
  margin-left: 32px;
  @include media("<=tablet") {
    font-size: 14px;
    margin-left: 22px;
  }
  @include media("<=phone") {
    font-size: 12px;
    margin-left: 20px;
  }
  font-weight: 500;
  color: #64ffda;
  cursor: pointer;
}
.about_header {
  @include fira;
}

.experience_header {
  @include fira;
}

.projects_header {
  @include fira;
}

.contact_header {
  @include fira;
}

.dropdown_menu {
  margin-left: 32px;
  font-size: 20px;
  background-color: transparent;
  border: none;
  outline: none;
}
